{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags%}
{% load static %}

{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Stories</h2>
            <p>Step into a world transformed, not by magic, but by the power of education and the boundless generosity
                of our community. Here, you'll witness stories not of ink and paper, but of lives rewritten, futures
                ignited, and dreams taking flight. Each face you encounter is a testament to the transformative power of
                your contributions. </p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Stories Section ======= -->
    <section id="stories" class="stories">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'assets/img/donors/donor-2.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Introduction to webdesign</a></h5>
                            <p class="fst-italic text-center">Sunday, September 26th at 7:00 pm</p>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                        <div class="card-img">
                            <img src="{% static 'assets/img/donors/donor-2.jpg' %}" class="img-fluid" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Marketing Strategies</a></h5>
                            <p class="fst-italic text-center">Sunday, November 15th at 7:00 pm</p>
                            <p class="card-text">But that you may see whence all this born error is pleasure
                                and the pain of those who praise, I will open the whole matter, and those very things which from that discoverer of truth and
                                I will explain what was said as an architect of a happy life</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Stories Section -->

</main><!-- End #main -->
{% endblock content %}
